Source: armitage
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.fastandeasyhacking.com/
Vcs-Git: git://git.kali.org/packages/armitage.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/armitage.git;a=summary

Package: armitage
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre, metasploit
Description: Cyber attack management for Metasploit
 Armitage is a scriptable red team collaboration tool for Metasploit that 
 visualizes targets, recommends exploits, and exposes the advanced post-
 exploitation features in the framework.
